@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

/* Gradients
- Linear, 135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%)
- Linear, 135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%)

*/

:root {
  --desaturated-red: hsl(0, 36%, 70%);
  --soft-red: hsl(0, 93%, 68%);
  --dark-greyish-red: hsl(0, 6%, 24%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  margin: 0 auto;
  font-family: 'Josefin Sans', sans-serif;
  background: url('../images/bg-pattern-desktop.svg');

  /* background-position: -10rem; */
  background-size: auto;
  background-repeat: no-repeat;
}

/* Main content */
.content__container {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 5rem;
  max-width: 144rem;
  margin: 0 auto;
}

.content {
  margin: 7.5rem 0 0 16.5rem;
  max-width: 44.5rem;
  display: grid;
  grid-template-rows: repeat(2, max-content);
}

.logo {
  margin-bottom: 13.5rem;
}

.content__header {
  font-size: 6.4rem;
  color: var(--dark-greyish-red);
  text-transform: uppercase;
  letter-spacing: 1.4rem;
  margin-bottom: 3.2rem;
}

.header__highlight {
  color: var(--desaturated-red);
  font-weight: 300;
}

.content__text {
  font-size: 1.6rem;
  color: var(--desaturated-red);
  margin-bottom: 4rem;
  line-height: 1.6;
}

.hero__img {
  justify-self: end;
  width: 61rem;
}

.hero__img--hidden {
  display: none;
}

/* Input field */

.input__group {
  position: relative;
}

.input__group input {
  padding: 2rem 0;
  width: 100%;
  border: rgba(206, 151, 151, 0.5) 1px solid;
  border-radius: 2.8rem;
  font-family: inherit;
  font-size: 1.6rem;
  padding-left: 3.2rem;
  color: var(--dark-greyish-red);
}

.input__group input:focus {
  outline: none;
  box-shadow: inset 0 0 0 1px rgb(206, 151, 151);
  border: rgb(206, 151, 151) 1px solid;
  transition: all 0.3s;
}

.input__group input::placeholder {
  color: rgba(206, 151, 151, 0.5);
}

/* Button */
.btn__container {
  position: absolute;
  left: 77%;
  top: 0;
}

.submit__button {
  position: relative;
  padding: 1.75rem 4.6rem;
  border: none;
  border-radius: 2.8rem;
  background: linear-gradient(
    135deg,
    hsl(0, 80%, 86%) 0%,
    hsl(0, 74%, 74%) 100%
  );
  box-shadow: 0px 15px 20px rgba(198, 110, 110, 0.247569);
  cursor: pointer;
  z-index: 1;
  overflow: hidden;
}

.submit__button::before {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    135deg,
    hsl(0, 86%, 94%) 0%,
    hsl(0, 100%, 87%) 100%
  );
  z-index: -1;
  transition: all 0.2s ease-in-out;
  opacity: 0;
}

.submit__button:hover::before {
  opacity: 1;
}

.submit__button:hover {
  box-shadow: 0px 15px 20px rgba(168, 93, 93, 0.301);
}

/* Error */

.error__icon {
  font-size: 2.4rem;
  color: var(--soft-red);
  position: absolute;
  top: 20%;
  left: 68%;
  visibility: hidden;
}

.error .error__icon {
  visibility: visible;
}

.error__message {
  font-size: 1.3rem;
  color: var(--soft-red);
  font-weight: 400;
  padding: 1rem 3.2rem;
  visibility: hidden;
}

.error .error__message {
  visibility: visible;
}

.error input {
  box-shadow: inset 0 0 0 1px hsl(0, 93%, 68%);
  border: hsl(0, 93%, 68%) 1px solid;
}

.error input:focus {
  outline: none;
  box-shadow: inset 0 0 0 1px hsl(0, 93%, 68%);
  border: hsl(0, 93%, 68%) 1px solid;
}

/* Attribution */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
